@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
/* text font */
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-banner{
  height: 70vh;
  background: url('./assets/about/page-header-bg-1-1.jpg') no-repeat;
  background-size:cover;
  background-position:right;
}
.service-banner{
  height: 60vh;
  background:linear-gradient(to right,#00000055,#00000053), url('./assets/service/top-banner.png') no-repeat;
  background-size:cover;
  background-position:center;
}
.our-service{
  background:linear-gradient(to right,#0000008a,#00000053) ,url('./assets/service/img-1.png') no-repeat;
  background-size:cover;
  background-position:right;
}
/* Animation */
.containerzer{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}
.loan-get{
   background: linear-gradient(to right,#0000008a,#0000008b) ,url(./assets//home/content-banner.png) no-repeat;
   background-size: cover;
   background-position:20%;
}
.text-animation{
  background-image: url(https://www.shutterstock.com/image-vector/dots-halftone-green-color-pattern-600nw-2466577823.jpg  );
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 10px;
  animation: animation 15s linear infinite;
}
@keyframes animation {
  to{
     background-position-x: -500px;
  }
}
/* contact-banner */
.contact-banners{
   height:70vh;
   background:linear-gradient(to right,#00000088,#00000090) ,url('./assets/contact/contact-banner.png') no-repeat;
   background-size: cover;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (max-width: 750px) {
  .about-banner {
    height: 50vh;
  }

  .service-banner {
    height: 40vh;
  }

.service-banner{
  height: 20vh;
  background-position:center;
}
.contact-banners{
    height: 40vh;
}
}
